<section class="filter">
    <div class="filter__container">
        <form class='filter__form' #form='ngForm' (ngSubmit)='dateSubmit(form.value); form.reset()'>
            <h4 class='filter__form-h4'>Custom Search:</h4>
            <div class="filter__form-group">
                <input ngModel name='firstDate' [bsConfig]='datePickerConfig' type="text" bsDatepicker
                    class='filter__form-input' placeholder='Brewed after' required>
            </div>
            <div class="filter__form-group">
                <input ngModel name='secondDate' [bsConfig]='datePickerConfig' type="text" bsDatepicker
                    class='filter__form-input' placeholder='Brewed before' required>
            </div>
            <div class="filter__form-group">
                <input ngModel name='alcContent' type="radio" value='1,5' class="filter__form-input" required>
                <label class="form-check-label" for="exampleCheck1">Alchohol Content between 1% - 5%</label>
            </div>
            <div class="filter__form-group">
                <input ngModel name='alcContent' type="radio" value='5,10' class="filter__form-input" required>
                <label class="form-check-label" for="exampleCheck1">Alchohol Content between 5% - 10%</label>
            </div>
            <div class="filter__form-group">
                <input ngModel name='alcContent' type="radio" value='10,100' class="filter__form-input" required>
                <label class="form-check-label" for="exampleCheck1">Alchohol Content 10% or higher</label>
            </div>
            <button [disabled]='form.form.invalid' type='submit' class="filter__form-btn">Submit <i class="fa fa-search"
                    aria-hidden="true"></i>
            </button>
        </form>
    </div>
    <div class="filter__wrapper">
        <div class="filter__container-1" (click)='over5Percent(5)'>
            <div class="filter__container-btn" >Find brews with 5%+ ABV</div>
        </div>
        <div class="filter__container-1" (click)='under5Percent(5)'>
            <div class="filter__container-btn" >Find brews with 5%- ABV</div>
        </div>
    </div>

</section>

<section class="gallery">

    <div class="gallery__card" *ngFor='let brew of brews | paginate: { itemsPerPage: 9, currentPage: p }' data-aos="fade-up" data-aos-duration="750">
        
        <div class="gallery__view-details" (click)='openDialog(brew)'><i class="fa fa-eye fa-2x" aria-hidden="true"></i>

        </div>

        <input type="checkbox" [checked]='brew.isFavorite' id='{{ brew.name }}' class='gallery__checkbox'>
        <label (click)='addFavorite(brew, brew.name)' for="{{ brew.name }}" class='gallery__favorite'
            ><i class="fa fa-heart fa-2x" aria-hidden="true"></i></label>
        <div class="gallery__image">
            <figure class="gallery__image-figure">
                <img class='gallery__image-figure-img' src="{{ brew.image_url }}" alt="{{ brew.name }}">
                <figcaption class="gallery__image-figure-caption">
                    <button class='gallery__image-figure-btn' (click)='openDialog(brew)'>Learn More</button>
                </figcaption>
            </figure>
        </div>
        <hr>
        <div class="gallery__content">
            <h3 class="gallery__content__h3">Brand: {{ brew.name }}</h3>
            <p class="gallery__content__text"><strong class="gallery__content__text-strong">Alchohol Content:</strong>
                {{ brew.abv }}%</p>
            <p class="gallery__content__text"><strong class="gallery__content__text-strong">First Brewed:</strong>
                {{ brew.first_brewed }}</p>
        </div>
    </div>
</section>
<pagination-controls (pageChange)='p =$event'></pagination-controls>