<section class='home'>
    <div class="hero">
        <div class="hero__content" data-aos="fade-down" data-aos-duration="750">
            <div class="container">
                <h3 class="hero__h3">Punk API - Runway</h3>
                <h1 class="hero__h1">The Ultimate Place for Beer Reviews</h1>

                <button class="hero__btn" routerLink='/beer-gallery'>
                    <span class="hero__btn__visible">Want to see what we got?</span>
                    <span class="hero__btn__invisible">Check out our Beer Gallery</span>
                </button>
            </div>
        </div>
        <div class="hero__img" data-aos="fade-up" data-aos-duration="750">
        </div>
    </div>

    <div class="home__content">
        <h1 class="home__h1">Why should you read our reviews?</h1>
        <div class="home__detail">
            <div class="home__description">
                <p class="home__paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis ratione
                    sapiente saepe. Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate.
                </p>
                <p class="home__paragraph">
                    Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate delectus,
                    inventore iure aliquid aliquam.
                </p>
                <ul class="home__list">
                    <li class="home__list__item"><span class="home__list__svg"><i class="fa fa-chevron-circle-right fa-lg"
                                aria-hidden="true"></i>
                        </span> Comprehensive tasting and testing</li>
                    <li class="home__list__item"><span class="home__list__svg"><i class="fa fa-chevron-circle-right fa-lg"
                                aria-hidden="true"></i>
                        </span> We have the largest gallery on the web</li>
                    <li class="home__list__item"><span class="home__list__svg"><i class="fa fa-chevron-circle-right fa-lg"
                                aria-hidden="true"></i>
                        </span> Our team is dedicated to finding the best</li>
                    <li class="home__list__item"><span class="home__list__svg"><i class="fa fa-chevron-circle-right fa-lg"
                                aria-hidden="true"></i>
                        </span> Premium beer tasting facilities</li>
                    <li class="home__list__item"><span class="home__list__svg"><i class="fa fa-chevron-circle-right fa-lg"
                                aria-hidden="true"></i>
                        </span> Beer kept in ideal conditions</li>
                    <li class="home__list__item"><span class="home__list__svg"><i class="fa fa-chevron-circle-right fa-lg"
                                aria-hidden="true"></i>
                        </span> Largest customer base on the web</li>
                    <li class="home__list__item"><span class="home__list__svg"><i class="fa fa-chevron-circle-right fa-lg"
                                aria-hidden="true"></i>
                        </span> All staff are industry experts</li>
                    <li class="home__list__item"><span class="home__list__svg"><i class="fa fa-chevron-circle-right fa-lg"
                                aria-hidden="true"></i>
                        </span> We've been around for 20 years</li>
                    <li class="home__list__item"><span class="home__list__svg"><i class="fa fa-chevron-circle-right fa-lg"
                                aria-hidden="true"></i>
                        </span> Trusted by companies like Bud Light</li>
                </ul>
                <div class="home__recommend">
                    <h4 class="home__recommend__count">
                        Dozens of people have read, and recommend our reviews!
                    </h4>
                    <div class="home__recommend__friends">
                        <img src="/assets/images/person-1.jpg" alt="Friend 1" class="home__recommend__photo">
                        <img src="/assets/images/person-2.jpg" alt="Friend 2" class="home__recommend__photo">
                        <img src="/assets/images/person-3.jpg" alt="Friend 3" class="home__recommend__photo">
                        <img src="/assets/images/person-4.jpg" alt="Friend 4" class="home__recommend__photo">
                        <img src="/assets/images/person-5.jpg" alt="Friend 4" class="home__recommend__photo">
                        <img src="/assets/images/person-6.jpg" alt="Friend 4" class="home__recommend__photo">
                        <img src="/assets/images/person-7.jpg" alt="Friend 4" class="home__recommend__photo">
                        <img src="/assets/images/person-8.jpg" alt="Friend 4" class="home__recommend__photo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>